<body>
<section id="about">
  <div class="user-details">
    <h1>About Me</h1>
    <p>I am a Psychology & Software Engineering student mainly interested in cross section of ML and Neuroscience.</p>
    <div class="user">
      <div class="tech">
        <h2>Data Processing</h2>
        <i class="devicon-python-plain colored"></i>  
        <i class="devicon-pandas-plain-wordmark colored"></i>  
        <i class="devicon-numpy-plain colored"></i>
        <p>Expertise in data cleaning, preprocessing, and feature engineering using Python, 
          Pandas, and NumPy to prepare datasets for machine learning models.</p>
      </div>
      <div class="tech">
        <h2>Modeling</h2>
        <i class="devicon-tensorflow-original colored"></i>
        <i class="devicon-pytorch-original colored"></i>
        <i class="devicon-scikitlearn-plain colored"></i>
        <p>Proficient in developing and training various machine learning models 
          using TensorFlow, PyTorch, and Scikit-learn for diverse applications.</p>
      </div>
      <div class="tech">
        <h2>Deployment</h2>
        <i class="devicon-docker-plain colored"></i>
        <i class="devicon-amazonwebservices-plain-wordmark colored"></i>       
        <i class="devicon-flask-original colored"></i>
        <p>Skilled in deploying machine learning models to production environments using Docker, 
          AWS, and Flask, ensuring scalability and efficiency of end-to-end ML projects.</p>
      </div>
    </div>
  </div>
</section>
</body>