<section id="projects">
  <div class="user-details">
    <h1> Featured Projects </h1>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="evosal" src="{{ "/assets/img/evosal.jpg" | prepend: site.baseurl }}" /> 
    </div>
    <div class="contents">
      <h3> Distinction of Evolutionarily Salient Categories in the Early Visual System via ML Methods </h3>
      <p>This project investigates how the early visual system processes evolutionarily significant visual categories (faces, animacy, social context). Using LLaVA 1.6 & CLIP for image labeling, the project leverages RSA, dissimilarity and connectome-based analyses, and reliable voxel selection with classification/decoding to understand the role and accuracy of the early visual system.</p>
      <a class="project-link" href="https://github.com/UYildiz12/Evosal">Check it out</a>
    </div>
  </div>
  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/actionrep.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Investigating Observed Actions In the Neural Representational Space </h3>
      <p>In this project, I analyzed neural activity associated with various action categories presented in a dynamic, ecologically valid, and multi-actor video stimulus set. Employing a custom-built multi-arrangement paradigm, this project investigates how different action classes are
        represented in the AON and explored the role of dynamic information. We also examined the relationship between perceptual similarity and neural representation, pinpointing action categories/subcategories based on neural and behavioral responses. 
        The project utilizes searchlight-based multiple regression RSA, t-SNE, and UMAP with classification methods, alongside traditional univariate and multivariate analysis approaches. </p>
        <a class="project-link" href="https://github.com/UYildiz12/ActionRep">Check it out</a>
    </div>
  </div>
</section>